<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Type</h1>
<form th:object="${type}" th:action="@{/saveType}" method="post">
    <table>
        <tr>
            <td>name</td>
            <td><input th:type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input th:type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>