<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Products</h3>
<p>
    <a th:href="@{/product/create}">Product create</a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table class="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="prod : ${products}">
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.price}"></td>
            <td ><a th:href="@{/editProduct/__${prod.id}__}">Edit</a></td>
            <td> <a th:href="@{/deleteProduct/__${prod.id}__}" onclick="return confirm('Bna muon xoa')">Delete</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>