<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${phonenumber}" method="post">
    <table>
        <tr>

            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{number}"/></td>

        </tr>
        <tr>
            <td>Error:</td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>