<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create province</h1>
    <p>
        <a th:href="@{/provinces}">List province</a>
    </p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/createProvince}" th:method="post" th:object="${province}">
    <table>
        <tr>
            <td>Name</td>
            <td><input  th:type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create"/></td>
        </tr>
    </table>
</form>
</body>
</html>