<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blogCreate}">Create blog</a>
<h1>Blog list</h1>
<form>
    Search name:
    <input name="s" type="text"/>
    <input type="submit" th:value="Seach">
</form>
<br>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.date}"></td>
            <td><a th:href="@{/blogUpdate/__${blog.id}__}">Update</a></td>
            <td><a th:href="@{/blogUpdate/__${blog.id}__}"
                   onclick="return confirm('You want to remove ???')">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span> <span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>