<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Blogs list</a>
<br>
<th:block th:if="${message}">
    <p th:text="#{${message}}"></p>
</th:block>
<form th:object="${blog}" th:action="@{/blogCreate}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="text" th:field="*{date}"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea rows="4" cols="50" type="te" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>