<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blogCreate}" th:text="#{label.blog.create}"></a>
<h1 th:text="#{label.blog.heading}"></h1>
<a href="?lang=en">English</a>|<a href="?lang=vn">VietNam</a>
<form>
    <p th:text="#{label.blog.search}"></p>
    <input name="s" type="text"/>
    <input type="submit" th:value="#{label.blog.button.search}">
</form>
<br>
<table border="1">
    <tr>
        <th th:text="#{label.blog.ID}"></th>
        <th th:text="#{label.blog.name}"></th>
        <th th:text="#{label.blog.date}"></th>
        <th th:text="#{label.blog.update}"></th>
        <th th:text="#{label.blog.delete}"></th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.date}"></td>
            <td><a th:href="@{/blogUpdate/__${blog.id}__}" th:text="#{label.blog.update}"></a></td>
            <td><a th:href="@{/blogDelete/__${blog.id}__}"
                  th:attr="onclick='return confirm(\'' + #{label.blog.return.cofirm.delete} + '\');'"
                   th:text="#{label.blog.delete}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span> <span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>
