<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/createNote}">Create note</a>


<form>
    Search title:
    <input name="s" type="text"/>
    <input type="submit" th:value="Search"/>
</form>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Type</th>
        <th>Update</th>
    </tr>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td th:text="${note.type.name}"></td>
            <td><a th:href="@{/editNote/__${note.id}__}">Update</a></td>
            <td><a th:href="@{/deleteNote/__${note.id}__}"
                   onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/note'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
    <span th:text="${notes.number + 1}"></span><span th:text="${notes.totalPages}"></span>
    <a th:href="@{'/note'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
</div>
</body>
</html>